<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Prediction</title>
</head>
<body>
    <h1>Salary Prediction</h1>
    <form action="prediction" method="POST">
        <h2>Enter the experience:</h2>
        <input type="text" name="exp">
        <input type="submit" value="predict">
    </form>
    <h2>predicted Salary is : {{predi}}</h2>
    
</body>
</html>